In [2]:
# Column Transformer ---->In this will create tempalate of our project.
# covid dataset 
# df--->x_train,x_test , y_train, y_test
# x_train--->col1,col2,col3,col4,....

# categorical --->Numerical  ---> col.shape
# Numerical--->col.shape

# np.concatenate(col1.shape,col2.shape....coln.shape)

# when we  apply columnstransformer -->shape=withpout using column transformer  shape

# columntransformer(
     # "constant","operation_name/approach_name","column_name"
# )

In [3]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv("covid_toy - covid_toy.csv")
df.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [20]:
from sklearn.impute import SimpleImputer ##for fill missing values
from  sklearn.preprocessing import OneHotEncoder #encode
from  sklearn.preprocessing import OrdinalEncoder #encode

In [21]:
# df.isnull().sum()

In [22]:
x=df.drop(columns=["has_covid"])
y=df["has_covid"]

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [25]:
x_train.head(2)

    age  gender  fever cough     city
55   81  Female  101.0  Mild   Mumbai
88    5  Female  100.0  Mild  Kolkata

In [26]:
# We will apply opretion one by one

In [27]:
# adding Simple imputer to fever column
si=SimpleImputer(strategy="mean")
x_train_fever=si.fit_transform(x_train[["fever"]])
x_train_fever.shape

(80, 1)

In [28]:
# Ordinal Encoding --cough
oe=OrdinalEncoder(categories=[["Mild","Strong"]])
x_train_cough=oe.fit_transform(x_train[["cough"]])
x_train_cough.shape

(80, 1)

In [45]:
# OneHoteEncoding --->gender,city
ohe=OneHotEncoder(drop="first",sparse_output=False)
x_train_gender_city=ohe.fit_transform(x_train[["gender",'city']])
x_train_gender_city.shape

(80, 4)

In [54]:
# Extracting Age
x_train_age=x_train.drop(columns=["gender","fever","cough","city"]).values

In [55]:
x_train_age.shape

(80, 1)

In [56]:
x_train_transformed=np.concatenate((x_train_age,x_train_fever,
                                   x_train_gender_city,
                                   x_train_cough),axis=1)

In [59]:
x_train_transformed.shape

(80, 7)

In [60]:
# Now we will  apply  columntransformer

In [66]:
from sklearn.compose import ColumnTransformer   #this is  how to import columnTransformer

transformer=ColumnTransformer(transformers=[
    ("tnf1",SimpleImputer(),["fever"]),   #in a "fever" column by the hepl of  SI we Fill missing values by  mean,median,mode.
    ("tnf2",OrdinalEncoder(categories=[["Mild","Strong"]]),["cough"]),
    #by this  process we encode the data

    ("tnf3",OneHotEncoder(sparse_output=False,drop="first"),["gender","city"])

    
    
],remainder="passthrough") #remainder-->passthrough---->it mean reset all  columns remains  same

In [68]:
transformer.fit_transform(x_train).shape

(80, 7)