In [ ]:
# Normalization in Feature Engineering
# min=0
# max=1

In [3]:
import numpy as np
import pandas as pd

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
df=pd.read_csv("placement - placement.csv")

In [6]:
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [7]:
x=df.drop(columns=["placed"])
y=df["placed"]

In [8]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [9]:
np.round(x_train.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean    6.95          7.00
std     1.13          1.01
min     5.27          4.95
25%     6.00          6.28
50%     6.62          7.15
75%     8.06          7.69
max     9.31          9.06

In [10]:
from sklearn.preprocessing import MinMaxScaler   #jab data m  gap bht jayada ho

In [12]:
mn=MinMaxScaler()

In [14]:
x_train_sc =mn.fit_transform(x_train)

In [15]:
x_train_new=pd.DataFrame(x_train_sc,columns=x.columns)

In [16]:
np.round(x_train_new.describe(),2)

        cgpa  resume_score
count  80.00         80.00
mean    0.42          0.50
std     0.28          0.25
min     0.00          0.00
25%     0.18          0.32
50%     0.33          0.54
75%     0.69          0.67
max     1.00          1.00

In [17]:
df2=pd.read_csv("covid_toy - covid_toy.csv")

In [18]:
df2.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [26]:
df2.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [28]:
from sklearn.impute import SimpleImputer

In [30]:
si=SimpleImputer(strategy="mean")

In [31]:
df2["fever"]=si.fit_transform(df2[["fever"]])

In [32]:
df2["gender"]=df2["gender"].map({"Female":0,"Male":1})

In [33]:
df2["cough"]=df2["cough"].map({"Mild":0,"Strong":1})

In [34]:
df2["city"]=df2["city"].map({"Kolkata":0 ,"Bangalore":1,"Delhi":3,"Mumbai":4})

In [35]:
df2["has_covid"]=df2["has_covid"].map({"No":0,"Yes":1})

In [36]:
df2.head(2)

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     0          0
1   27       1  100.0      0     3          1

In [37]:
x=df2.drop(columns=["has_covid"])
y=df2["has_covid"]

In [38]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [21]:
np.round(df2.describe(),2)

          age   fever
count  100.00   90.00
mean    44.22  100.84
std     24.88    2.05
min      5.00   98.00
25%     20.00   99.00
50%     45.00  101.00
75%     66.50  102.75
max     84.00  104.00

In [46]:
mn=MinMaxScaler()

In [47]:
x_train_sc=mn.fit_transform(x_train)

In [48]:
x_train_new=pd.DataFrame(x_train_sc,columns=x.columns)

In [49]:
np.round(x_train_new.describe(),2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean    0.48    0.41   0.50   0.40   0.41
std     0.31    0.50   0.32   0.49   0.38
min     0.00    0.00   0.00   0.00   0.00
25%     0.19    0.00   0.33   0.00   0.00
50%     0.47    0.00   0.50   0.00   0.25
75%     0.76    1.00   0.67   1.00   0.75
max     1.00    1.00   1.00   1.00   1.00

In [ ]:
###############################
###############################

In [81]:
df3=pd.read_csv("tips - tips.csv")

In [82]:
df3.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [83]:
df3.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [84]:
df3["sex"]=df3["sex"].map({"Female":0,"Male":1})

In [85]:
df3.head()

   total_bill   tip  sex smoker  day    time  size
0       16.99  1.01    0     No  Sun  Dinner     2
1       10.34  1.66    1     No  Sun  Dinner     3
2       21.01  3.50    1     No  Sun  Dinner     3
3       23.68  3.31    1     No  Sun  Dinner     2
4       24.59  3.61    0     No  Sun  Dinner     4

In [86]:
df3["smoker"]=df3["smoker"].map({"No":0,"Yes":1})

In [87]:
df3["day"].value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [88]:
df3["day"]=df3["day"].map({"Sat":0,"Sun":1,"Thur":2,"Fri":3})

In [89]:
df3["time"].value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [90]:
df3["time"]=df3["time"].map({"Dinner":0,"Lunch":1})

In [91]:
df3.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    1     0     2
1       10.34  1.66    1       0    1     0     3
2       21.01  3.50    1       0    1     0     3
3       23.68  3.31    1       0    1     0     2
4       24.59  3.61    0       0    1     0     4

In [92]:
x=df3.drop(columns=["total_bill"])

In [93]:
y=df3["total_bill"]

In [94]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [95]:
np.round(df3.describe(),2)

       total_bill     tip     sex  smoker     day    time    size
count      244.00  244.00  244.00  244.00  244.00  244.00  244.00
mean        19.79    3.00    0.64    0.38    1.05    0.28    2.57
std          8.90    1.38    0.48    0.49    0.96    0.45    0.95
min          3.07    1.00    0.00    0.00    0.00    0.00    1.00
25%         13.35    2.00    0.00    0.00    0.00    0.00    2.00
50%         17.80    2.90    1.00    0.00    1.00    0.00    2.00
75%         24.13    3.56    1.00    1.00    2.00    1.00    3.00
max         50.81   10.00    1.00    1.00    3.00    1.00    6.00

In [96]:
mn=MinMaxScaler()

In [97]:
x_train_sc=mn.fit_transform(x_train)

In [98]:
x_train_new=pd.DataFrame(x_train_sc,columns=x.columns)

In [99]:
np.round(x_train_new.describe(),2)

          tip     sex  smoker     day    time    size
count  195.00  195.00  195.00  195.00  195.00  195.00
mean     0.23    0.65    0.38    0.35    0.27    0.31
std      0.16    0.48    0.49    0.32    0.45    0.19
min      0.00    0.00    0.00    0.00    0.00    0.00
25%      0.11    0.00    0.00    0.00    0.00    0.20
50%      0.22    1.00    0.00    0.33    0.00    0.20
75%      0.30    1.00    1.00    0.67    1.00    0.40
max      1.00    1.00    1.00    1.00    1.00    1.00