In [1]:
# Fearture Engineering---- Data clean and Preprocess

In [2]:
# Workflow of ML---
# Data Ingrestion---- Data cleaning and preprocessing --- Select ML Model --- Model training --- Model Evvalation

In [3]:
# Data Dividation
# Data -- x, y
# x= x_train , x_test
# y= y_train , y_test

In [4]:
import pandas as pd

In [5]:
df=pd.read_csv("placement - placement.csv")

In [6]:
df.head(2)

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0

In [7]:
df.shape

(100, 3)

In [8]:
x=df.drop(columns=["placed"]) ###Input data

In [10]:
# x

    cgpa  resume_score
0   8.14          6.52
1   6.17          5.17
2   8.27          8.86
3   6.88          7.27
4   7.52          7.30
..   ...           ...
95  6.33          6.38
96  8.23          7.76
97  6.65          7.78
98  8.14          5.63
99  6.09          6.61

[100 rows x 2 columns]

In [12]:
y=df["placed"]  ##Target data
# y

In [16]:
x.shape

(100, 2)

In [17]:
y.shape

(100,)

In [31]:
# !pip install scikit_learn

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [24]:
# test=20%
# train=80%

In [25]:
# x_train

In [28]:
print("Data Shape:",df.shape)
print("-------------------------")
print("x data shape:",x.shape)
print("x_train data shape:",x_train.shape)
print("x_test data shape:",x_test.shape)
print("----------------------------")
print("y data shape:",y.shape)
print("y_train data shape:",y_train.shape)
print("y_test data shape:",y_test.shape)

Data Shape: (100, 3)
-------------------------
x data shape: (100, 2)
x_train data shape: (80, 2)
x_test data shape: (20, 2)
----------------------------
y data shape: (100,)
y_train data shape: (80,)
y_test data shape: (20,)

In [44]:
# df(100,3)=x(100,2)+y(100,1)
# x(100,2)=x_train(80,2)+x_test(20,2)
# y(100,1)=y_train(80,1)+y_test(20,1)

In [112]:
df2=pd.read_csv("covid_toy - covid_toy.csv")

In [113]:
df2.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [114]:
from sklearn.impute import SimpleImputer

In [115]:
si=SimpleImputer(strategy="mean")

In [116]:
df2["fever"]=si.fit_transform(df2[["fever"]]) ##fit means learn the parameters and
#transform means apply on that data.

In [117]:
df2.head(2)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes

In [118]:
df2.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [119]:
df2["gender"]=df2["gender"].map({"Female":0,"Male":1})

In [120]:
df2["cough"]=df2["cough"].map({"Mild":0,"Strong":1})

In [121]:
df2.head(6)

   age  gender       fever  cough       city has_covid
0   60       1  103.000000      0    Kolkata        No
1   27       1  100.000000      0      Delhi       Yes
2   42       1  101.000000      0      Delhi        No
3   31       0   98.000000      0    Kolkata        No
4   65       0  101.000000      0     Mumbai        No
5   84       0  100.844444      0  Bangalore       Yes

In [122]:
df2["city"].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [123]:
df2["city"]=df2["city"].map({"Kolkata":0 ,"Bangalore":1,"Delhi":3,"Mumbai":4})

In [124]:
df2.head(2)

   age  gender  fever  cough  city has_covid
0   60       1  103.0      0     0        No
1   27       1  100.0      0     3       Yes

In [125]:
df2["has_covid"]=df2["has_covid"].map({"No":0,"Yes":1})

In [126]:
df2.head(15)

    age  gender       fever  cough  city  has_covid
0    60       1  103.000000      0     0          0
1    27       1  100.000000      0     3          1
2    42       1  101.000000      0     3          0
3    31       0   98.000000      0     0          0
4    65       0  101.000000      0     4          0
5    84       0  100.844444      0     1          1
6    14       1  101.000000      1     1          0
7    20       0  100.844444      1     4          1
8    19       0  100.000000      1     1          0
9    64       0  101.000000      0     3          0
10   75       0  100.844444      0     3          0
11   65       0   98.000000      0     4          1
12   25       0   99.000000      1     0          0
13   64       1  102.000000      0     1          1
14   51       1  104.000000      0     1          0

In [127]:
x=df2.drop(columns=["has_covid"]) #input data

In [128]:
# x

In [129]:
 y=df2["has_covid"]  #target data

In [130]:
# y

In [131]:
df2.shape

(100, 6)

In [132]:
x.shape

(100, 5)

In [133]:
y.shape

(100,)

In [134]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [135]:
print("Data Shape:",df.shape)
print("-------------------------")
print("x data shape:",x.shape)
print("x_train data shape:",x_train.shape)
print("x_test data shape:",x_test.shape)
print("----------------------------")
print("y data shape:",y.shape)
print("y_train data shape:",y_train.shape)
print("y_test data shape:",y_test.shape)

Data Shape: (100, 3)
-------------------------
x data shape: (100, 5)
x_train data shape: (80, 5)
x_test data shape: (20, 5)
----------------------------
y data shape: (100,)
y_train data shape: (80,)
y_test data shape: (20,)